version: '2'

services:
  bot:
    image: vvk123/p2pdexexchangebot:latest
    build: .
    restart: unless-stopped
    command: ./bot.py
    volumes:
      - /path/to/config.py:/opt/code/config.py
      - /path/to/database:/opt/code/database
